<ng-container *ngIf="orders && orders.length !== 0">
    <div class="row mt-p5 mb-5">
        <div class="col-md-2 orderHeadings">
            <p>Product</p>
        </div>
        <div class="col-md-2 orderHeadings">
            <p>Details</p>
        </div>
        <div class="col-md-2 orderHeadings">
            <p>Order Number</p>
        </div>
        <div class="col-md-2 orderHeadings">
            <p>Ordered On</p>
        </div>
        <div class="col-md-2 orderHeadings">
            <p>Status</p>
        </div>
        <div class="col-md-2 orderHeadings">
            <p>Price</p>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="orders && orders.length === 0">
    <div class="center-align-hv emptyText">
        No Orders Yet &nbsp;:(
    </div>
</ng-container>

<ng-container *ngFor="let order of orders; last as last">
    <div class="row mb-5">
        <div [routerLink]="['/product', order.productId, order.productName]" class="col-md-2 text-center cursor-pointer"
             routerLinkActive="active">
            <img alt="ProductImage" class="image-size" src="{{order.productImagePath}}">
        </div>

        <div class="col-md-2 orderDetails">
            <p [routerLink]="['/product', order.productId, order.productName]"
               class="cursor-pointer" routerLinkActive="active">
                {{order.productName}}
            </p>
        </div>

        <div class="col-md-2 orderDetails text-break">
            <p>{{order.orderNumber}}</p>
        </div>

        <div class="col-md-2 orderDetails">
            <p>{{order.purchaseDate}}<br/>{{order.purchaseTime}}</p>
        </div>

        <div class="col-md-2 orderDetails">
            <p style="color: #0fa336;">Delivered</p>
            <button class="btn btn-green br-20 mt-5" type="button">
                Get Invoice
            </button>
        </div>

        <div class="col-md-2 orderDetails">
            <p>Rs. {{order.productPrice}}</p>
        </div>
    </div>

    <ng-container *ngIf="!last">
        <hr/>
        <br/>
        <br/>
    </ng-container>
</ng-container>
