<ng-container *ngIf="wishlistProducts && wishlistProducts.length !== 0">
    <div class="row mt-p5 mb-5">
        <div class="col-md-3 wishlistHeadings">
            <p>Product</p>
        </div>
        <div class="col-md-6 wishlistHeadings text-left">
            <p>Details</p>
        </div>
        <div class="col-md-3 wishlistHeadings">
            <p>Price</p>
        </div>
    </div>
</ng-container>

<ng-container *ngFor="let product of wishlistProducts">
    <div class="row mb-5">
        <div [routerLink]="['/product', product.id, product.name]" class="col-md-3 text-center cursor-pointer"
             routerLinkActive="active">
            <img alt="ProductImage" class="image-size" src="{{product.imagePath}}">
        </div>

        <div class="col-md-6 wishlistDetails text-left">
            <p [routerLink]="['/product', product.id, product.name]"
               class="cursor-pointer" routerLinkActive="active">
                {{product.name}}
            </p>
            <button (click)="removeProductFromWishlist(product)" [attr.data-target]="'#' + modalID"
                    class="removeProduct" data-toggle="modal" type="button">
                Remove Item
            </button>
        </div>

        <div class="col-md-3 wishlistDetails">
            <p>Rs. {{product.price}}</p>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="wishlistProducts && wishlistProducts.length === 0">
    <div class="center-align-hv emptyText">
        Wishlist is Empty &nbsp;:(
    </div>
</ng-container>

<ng-container *ngIf="wishlistProducts && wishlistProducts.length !== 0">
    <div class="row mt-p5">
        <div class="col-12 text-center">
            <button (click)="clearWishlist()" [attr.data-target]="'#' + modalID"
                    [disabled]="wishlistProducts.length === 0"
                    class="removeProduct" data-toggle="modal" type="button">
                Clear Wishlist
            </button>
        </div>
    </div>
    <br/>
</ng-container>

<!--Remove Product From Wishlist - Confirmation Modal-->
<ng-container *ngIf="wishlistProduct">
    <app-modal [modalID]="modalID">
        <modalTitle>Warning</modalTitle>
        <modalBody>
            Want to remove <b>{{wishlistProduct.name}}</b> from your wishlist?
            <br *ngIf="isSmallDevice"/>
            <p class="actionUndone">This action cannot be undone!</p>
        </modalBody>
        <modalDoneButton>
            <button (click)="removeProductFromWishlist(wishlistProduct, true)"
                    class="btn btn-web br-20" data-dismiss="modal" type="button">
                Yes, Remove It
            </button>
        </modalDoneButton>
        <modalCloseButton>
            <button (click)="resetValues()" class="btn btn-secondary br-20"
                    data-dismiss="modal" type="button">
                No, Keep It
            </button>
        </modalCloseButton>
    </app-modal>
</ng-container>

<!--Clear Wishlist - Confirmation Modal-->
<ng-container *ngIf="wishlistProducts">
    <app-modal [modalID]="modalID">
        <modalTitle>Warning</modalTitle>
        <modalBody>
            Are you sure you want to clear your wishlist?
            <br *ngIf="isSmallDevice"/>
            <p class="actionUndone">This action cannot be undone!</p>
        </modalBody>
        <modalDoneButton>
            <button (click)="clearWishlist(true)" class="btn btn-web br-20"
                    data-dismiss="modal" type="button">
                Yes, Clear Wishlist
            </button>
        </modalDoneButton>
        <modalCloseButton>
            <button (click)="resetValues()" class="btn btn-secondary br-20"
                    data-dismiss="modal" type="button">
                No, Keep Everything
            </button>
        </modalCloseButton>
    </app-modal>
</ng-container>
