<div class="row mt-p5 mb-5">
    <div class="col-md-3 wishlistHeadings">
        <p>Product</p>
    </div>
    <div class="col-md-6 wishlistHeadings text-left">
        <p>Details</p>
    </div>
    <div class="col-md-3 wishlistHeadings">
        <p>Price</p>
    </div>
</div>

<ng-container *ngFor="let product of wishlistProducts">
    <div class="row mb-5">
        <div [routerLink]="['/product', product.productId, product.name]" class="col-md-3 text-center cursor-pointer"
             routerLinkActive="active">
            <img alt="ProductImage" class="image-size" src="{{product.imagePath}}">
        </div>

        <div class="col-md-6 wishlistDetails text-left">
            <p [routerLink]="['/product', product.productId, product.name]"
               class="cursor-pointer" routerLinkActive="active">
                {{product.name}}
            </p>
            <button (click)="removeProduct(product)" class="removeProduct">
                Remove Item
            </button>
        </div>

        <div class="col-md-3 wishlistDetails">
            <p>Rs. {{product.price}}</p>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="wishlistProducts.length === 0">
    <div class="text-center"
         style="font-size: 40px; margin: 100px 0;">
        Wishlist is empty!
    </div>
</ng-container>

<div class="row mt-p5">
    <div class="col-12 text-center">
        <button (click)="clearWishlist()"
                [disabled]="wishlistProducts.length === 0"
                class="removeProduct">
            Clear Wishlist
        </button>
    </div>
</div>
<br/>
