.wishlistDetails {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.wishlistHeadings {
    font-weight: 600;
    font-size: 30px;
    text-align: center;
}

/*Remove Item*/
.removeProduct {
    border: 2px solid red;
    border-radius: 10px;
    width: 170px;
    height: 55px;
    color: red;
    background-color: transparent;
    cursor: pointer;
    padding-top: auto;
    font-size: 20px;
    transition: 0.5s;
    text-align: center;
    display: inline-block;
    outline: none;
}

.removeProduct:hover {
    background-color: red;
    color: white;
    /*box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);*/
}
