<ng-container *ngIf="!isCustomerAuthenticated">
    <ng-container *ngIf="forgotPasswordForm">
        <div class="wrap-forgot100">
    <span class="forgot100-form-title">
        Forgot Password
    </span>

            <div class="overflow-auto" style="max-height: 350px;">
                <form #forgotPasswordFormData="ngForm" (keydown.enter)="forgotPassword(forgotPasswordFormData)"
                      (ngSubmit)="forgotPassword(forgotPasswordFormData)"
                      class="forgot100-form validate-form p-l-55 p-r-55 p-t-35"
                      id="forgotForm" method="post">
                    <div class="wrap-input100 validate-input m-b-16">
                        <input class="input100" email name="email" ngModel
                               placeholder="Email" required="required" type="text"/>
                        <span class="focus-input100"></span>
                    </div>
                    <div class="wrap-input100 validate-input">
                        <input class="input100" minlength="10" name="phone" ngModel
                               placeholder="Phone" required="required" type="text"/>
                        <span class="focus-input100"></span>
                    </div>
                    <br/>
                    <div class="container-forgot100-form-btn">
                        <div class="row">
                            <div class="col-6">
                                <button class="backToHome" routerLink="/{{login}}" type="button">
                                    Go to Login
                                </button>
                            </div>
                            <div class="col-6">
                                <button [disabled]="forgotPasswordFormData.invalid"
                                        class="forgot100-form-btn" type="submit"
                                        value="submit">
                                    Next
                                </button>
                            </div>
                        </div>
                    </div>
                    <br/>
                </form>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="updatePasswordForm">
        <div class="wrap-forgot100">
    <span class="forgot100-form-title">
        Update Password
    </span>

            <div class="overflow-auto" style="max-height: 350px;">
                <form #updatePasswordFormData="ngForm" (keydown.enter)="updatePassword(updatePasswordFormData)"
                      (ngSubmit)="updatePassword(updatePasswordFormData)"
                      class="forgot100-form validate-form p-l-55 p-r-55 p-t-35"
                      id="updatePassword" method="post">
                    <div class="wrap-input100 validate-input m-b-16">
                        <input class="input100" minlength="8" name="password" ngModel
                               placeholder="New Password" required="required" type="password"/>
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input">
                        <input class="input100" minlength="8" name="confirmPassword" ngModel
                               placeholder="Confirm Password" required="required" type="password"/>
                        <span class="focus-input100"></span>
                    </div>
                    <br/>
                    <div class="container-forgot100-form-btn">
                        <button [disabled]="updatePasswordFormData.invalid"
                                class="forgot100-form-btn" type="submit"
                                value="submit">
                            Update Password
                        </button>
                    </div>
                    <br/>
                </form>
            </div>
        </div>
    </ng-container>
</ng-container>
