<app-sidebar class="vh-100">
    <div class="container-fluid px-0">
        <div class="row no-gutters">
            <div class="col-12 px-0">
                <app-header></app-header>
            </div>
        </div>
        <div class="row no-gutters">
            <div [ngClass]="_commonControllerService.isSidebarOpen ? '' : 'mt-p5'"
                 class="col-12 px-0 overflow-auto vh-n51">
                <app-loading-spinner></app-loading-spinner>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</app-sidebar>
