<p class="contact mt-p5">How can webStore help you?</p>

<form #contactForm="ngForm" (ngSubmit)="customerContact(contactForm)" method="post">

    <div id="contactForm">
        <div class="row">
            <div class="col-lg-2"></div>

            <div class="col-lg-8">
                <div class="form-group">
                    <label class="w-100">
                        <ng-container *ngIf="isCustomerAuthenticated">
                            <input #contactName name="name" ngModel="{{customer.firstName}} {{customer.lastName}}"
                                   readonly type="text" value="{{customer.firstName}} {{customer.lastName}}"/>
                        </ng-container>
                        <ng-container *ngIf="!isCustomerAuthenticated">
                            <input name="name" ngModel placeholder="Your Name" required="required" type="text"/>
                        </ng-container>
                    </label>
                    <br/>
                </div>
                <div class="form-group">
                    <label class="w-100">
                        <ng-container *ngIf="isCustomerAuthenticated">
                            <input #contactEmail name="email" ngModel="{{customer.email}}"
                                   readonly type="text" value="{{customer.email}}"/>
                        </ng-container>
                        <ng-container *ngIf="!isCustomerAuthenticated">
                            <input email name="email" ngModel placeholder="Your Email" required="required" type="text"/>
                        </ng-container>
                    </label>
                    <br/>
                </div>
                <div class="form-group">
                    <label class="w-100">
                        <input name="subject" ngModel placeholder="Subject" required="required" type="text"/>
                    </label>
                    <br/>
                </div>
                <div class="form-group">
                    <label class="w-100">
                        <textarea name="message" ngModel placeholder="Message..." required="required"
                                  type="text"></textarea>
                    </label>
                </div>
            </div>

            <div class="col-lg-2"></div>
        </div>
        <br/>
        <div class="row text-center">
            <button [disabled]="contactForm.invalid" class="btn btn-success"
                    type="submit" value="submit">
                Send
            </button>
        </div>
    </div>

</form>

<br/>
<br/>

<!--TODO: Add Contact Information-->
<!--<hr/>-->
<!--<br/>-->
<!--<div class="container">-->
<!--    <p class="contact">webStore is right here!</p>-->
<!--</div>-->
