h1 {
    font-size: 5rem;
}

.h3 {
    font-size: 5rem;
}

.page_404 {
    background: #FFFFFF;
}

.bg_404 {
    background-image: url("../../../../assets/Images/404.gif");
    height: 400px;
    background-position: center;
    margin-bottom: -75px;
}

.link_404 {
    color: #FFFFFF !important;
    padding: 10px 20px;
    background: #7386D5;
    margin: 0;
    display: inline-block;
}

button {
    border: none;
    outline: none;
    border-radius: 20px;
}
