<div class="page_404 mb-5">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <div class="text-center">
                    <div class="bg_404"></div>
                    <h1 class="text-center">404</h1>
                    <h3>Looks Like You're Lost!</h3>
                    <p>This Page Does Not Exist or is Unavailable at the Moment!</p>
                    <button class="link_404" routerLink="/" type="button">Go to Home</button>
                </div>

            </div>
        </div>
    </div>
</div>
