<div class="container-fluid overflow-auto pl-0">
    <div class="row no-gutters">

        <div class="box mb-5">
            <div class="card mt-5">
                <div class="cardImage">
                    <img
                        alt="images"
                        src="assets/Images/Person.png">
                </div>
                <div class="details">
                    <h2>ProductTitle<br><span>ProductPrice</span></h2>
                </div>
            </div>
            <div class="card mt-5">
                <div class="cardImage">
                    <img
                        alt="images"
                        src="assets/Images/Person.png">
                </div>
                <div class="details">
                    <h2>ProductTitle<br><span>ProductPrice</span></h2>
                </div>
            </div>
            <div class="card mt-5">
                <div class="cardImage">
                    <img
                        alt="images"
                        src="assets/Images/Person.png">
                </div>
                <div class="details">
                    <h2>ProductTitle<br><span>ProductPrice</span></h2>
                </div>
            </div>
            <div class="card mt-5">
                <div class="cardImage">
                    <img
                        alt="images"
                        src="assets/Images/Person.png">
                </div>
                <div class="details">
                    <h2>ProductTitle<br><span>ProductPrice</span></h2>
                </div>
            </div>
            <div class="card mt-5">
                <div class="cardImage">
                    <img
                        alt="images"
                        src="assets/Images/Person.png">
                </div>
                <div class="details">
                    <h2>ProductTitle<br><span>ProductPrice</span></h2>
                </div>
            </div>
            <div class="card mt-5">
                <div class="cardImage">
                    <img
                        alt="images"
                        src="assets/Images/Person.png">
                </div>
                <div class="details">
                    <h2>ProductTitle<br><span>ProductPrice</span></h2>
                </div>
            </div>
        </div>
        <div class="box mb-5">
            <div class="card mt-5">
                <div class="cardImage">
                    <img
                        alt="images"
                        src="assets/Images/Person.png">
                </div>
                <div class="details">
                    <h2>ProductTitle<br><span>ProductPrice</span></h2>
                </div>
            </div>
            <div class="card mt-5">
                <div class="cardImage">
                    <img
                        alt="images"
                        src="assets/Images/Person.png">
                </div>
                <div class="details">
                    <h2>ProductTitle<br><span>ProductPrice</span></h2>
                </div>
            </div>
            <div class="card mt-5">
                <div class="cardImage">
                    <img
                        alt="images"
                        src="assets/Images/Person.png">
                </div>
                <div class="details">
                    <h2>ProductTitle<br><span>ProductPrice</span></h2>
                </div>
            </div>
            <div class="card mt-5">
                <div class="cardImage">
                    <img
                        alt="images"
                        src="assets/Images/Person.png">
                </div>
                <div class="details">
                    <h2>ProductTitle<br><span>ProductPrice</span></h2>
                </div>
            </div>
            <div class="card mt-5">
                <div class="cardImage">
                    <img
                        alt="images"
                        src="assets/Images/Person.png">
                </div>
                <div class="details">
                    <h2>ProductTitle<br><span>ProductPrice</span></h2>
                </div>
            </div>
            <div class="card mt-5">
                <div class="cardImage">
                    <img
                        alt="images"
                        src="assets/Images/Person.png">
                </div>
                <div class="details">
                    <h2>ProductTitle<br><span>ProductPrice</span></h2>
                </div>
            </div>
        </div>

    </div>
</div>
