<div class="container-fluid overflow-auto px-0">
    <div class="box mb-5">

        <ng-container *ngFor="let product of productList">
            <div [routerLink]="['/product', product.id, product.name]" class="card mt-5"
                 routerLinkActive="active">
                <div class="cardImage">
                    <img
                        alt="images"
                        src="{{product.imagePath}}">
                </div>
                <div class="details">
                    <h2>{{product.name}}<br><span>Rs {{product.price}}</span></h2>
                </div>
            </div>
        </ng-container>

    </div>
</div>
