body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 15px;
    margin: 0 auto;
}

.card {
    position: relative;
    width: 300px;
    height: 350px;
    background: #FFFFFF;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 0 5px 50px rgba(115, 134, 213, 1);
}

.card:before,
.card:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: #FFFFFF;
    transition: 0.5s;
    z-index: -1;
}

.card:hover:before {
    transform: rotate(20deg);
    box-shadow: 0 2px 20px rgba(0, 0, 0, .2);
}

.card:hover:after {
    transform: rotate(10deg);
    box-shadow: 0 2px 20px rgba(0, 0, 0, .2);
}

.card .cardImage {
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background: white;
    transition: 0.5s;
    z-index: 1;
}

.card:hover {
    //bottom: 80px;
    cursor: pointer;
}

.card .cardImage img {
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.card .details {
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 10px;
    height: 60px;
    text-align: center;
}

.card .details h2 {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 20px;
    color: #777;
}

.card .details h2 span {
    font-weight: 500;
    font-size: 16px;
    color: #7386D5;
    display: block;
    margin-top: 5px;
}

.card:hover .details {
    z-index: 1;
    padding-top: 10px;
    background-color: #FFFFFF;
    transition: background-color 0.05s ease;
}

.card:focus, .card:active {
    outline: none;
}

.bar-container {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #FFFFFF;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}
