<div class="container-fluid mt-5">
    <label class="w-100">
        <input [(ngModel)]="searchInput" autofocus class="form-control"
               placeholder="Search Product" type="text"/>
    </label>
</div>

<div class="container-fluid overflow-auto px-0">
    <div class="box mb-5">

        <ng-container *ngFor="let product of productList | searchFilter: searchInput; trackBy: trackBy">
            <div [routerLink]="['/product', product.productId, product.name]" class="card mt-5"
                 routerLinkActive="active">
                <div class="cardImage">
                    <img alt="images" src="{{product.imagePath}}">
                </div>

                <div class="details">
                    <h2>{{product.name}}<br/><span>Rs {{product.price}}</span></h2>
                </div>
            </div>
        </ng-container>

    </div>
</div>
