<div class="row mt-p5 mb-5">
    <div class="col-md-3 cartHeadings">
        <p>Product</p>
    </div>
    <div class="col-md-5 cartHeadings text-left">
        <p>Details</p>
    </div>
    <div class="col-md-2 cartHeadings text-right">
        <p>Quantity</p>
    </div>
    <div class="col-md-2 cartHeadings">
        <p>Price</p>
    </div>
</div>

<ng-container *ngFor="let product of cartProducts">
    <div class="row mb-5">
        <div [routerLink]="['/product', product.id, product.name]" class="col-md-3 text-center cursor-pointer"
             routerLinkActive="active">
            <img alt="ProductImage" class="image-size" src="{{product.imagePath}}">
        </div>

        <div class="col-md-5 cartDetails text-left">
            <p [routerLink]="['/product', product.id, product.name]"
               class="cursor-pointer" routerLinkActive="active">
                {{product.name}}
            </p>
            <button (click)="removeProduct(product)" class="removeProduct">
                Remove Item
            </button>
        </div>

        <div class="col-md-2 cartDetails text-right" style="right: 50px;">
            <p>1</p>
        </div>

        <div class="col-md-2 cartDetails">
            <p>Rs. {{product.price}}</p>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="cartProducts.length === 0">
    <div style="font-size: 40px; text-align: center; margin: 100px 0;">
        Cart is empty!
    </div>
</ng-container>

<div class="row mt-p5">
    <div class="col-12 text-center">
        <button (click)="clearCart()"
                [disabled]="cartProducts.length === 0"
                class="removeProduct clearCart">
            Clear Cart
        </button>&nbsp; &nbsp;

        <button class="continueShopping"
                routerLink="/"
                routerLinkActive="active">
            Continue Shopping
        </button>&nbsp; &nbsp;

        <button [disabled]="cartProducts.length === 0" class="checkout">
            Checkout
        </button>
    </div>
</div>
<br/>
