<div class="row" style="margin-bottom: 50px;">
    <div class="col-md-3 cartHeadings">
        <p>Product</p>
    </div>

    <div class="col-md-3 cartHeadings" style="text-align: left;">
        <p>Details</p>
    </div>

    <div class="col-md-3 cartHeadings" style="text-align: right;">
        <p>Quantity</p>
    </div>

    <div class="col-md-3 cartHeadings">
        <p>Total</p>
    </div>
</div>

<div *ngFor="let product of cartProducts" class="row" style="margin-bottom: 50px;">
    <div class="col-md-3" style="text-align: center;">
        <img alt="ProductImage" src="{{product.imagePath}}" style="height: 150px; width: 150px;">
    </div>

    <div class="col-md-3 cartDetails" style="text-align: left;">
        <p>{{product.description}}</p>
        <button (click)="removeProduct(product)"
                class="removeProduct">
            Remove Item
        </button>
    </div>

    <div class="col-md-3 cartDetails" style="text-align: right; right: 50px;">
        <p>1</p>
    </div>

    <div class="col-md-3 cartDetails">
        <p>Rs. {{product.price}}</p>
    </div>
</div>

<div *ngIf="cartProducts.length === 0"
     style="font-size: 40px; text-align: center; margin: 100px 0;">
    Cart is empty!
</div>

<div class="row" style="text-align: center;">
    <button (click)="clearCart()"
            [disabled]="cartProducts.length === 0"
            class="removeProduct clearCart">
        Clear Cart
    </button>&nbsp; &nbsp;

    <button class="continueShopping"
            routerLink="/"
            routerLinkActive="active" style="margin-top: 50px;">
        Continue Shopping
    </button>&nbsp; &nbsp;

    <button [disabled]="cartProducts.length === 0"
            class="checkout"
            style="margin-top: 50px;">
        Checkout
    </button>
</div>
