<div class="row mt-p5 mb-5">
    <div class="col-md-3 cartHeadings">
        <p>Product</p>
    </div>

    <div class="col-md-3 cartHeadings text-left">
        <p>Details</p>
    </div>

    <div class="col-md-3 cartHeadings text-right">
        <p>Quantity</p>
    </div>

    <div class="col-md-3 cartHeadings">
        <p>Total</p>
    </div>
</div>

<div *ngFor="let product of cartProducts" class="row mb-5">
    <div class="col-md-3 text-center">
        <img alt="ProductImage" class="image-size" src="{{product.imagePath}}">
    </div>

    <div class="col-md-3 cartDetails text-left">
        <p>{{product.description}}</p>
        <button (click)="removeProduct(product)"
                class="removeProduct">
            Remove Item
        </button>
    </div>

    <div class="col-md-3 cartDetails text-right" style="right: 50px;">
        <p>1</p>
    </div>

    <div class="col-md-3 cartDetails">
        <p>Rs. {{product.price}}</p>
    </div>
</div>

<div *ngIf="cartProducts.length === 0"
     style="font-size: 40px; text-align: center; margin: 100px 0;">
    Cart is empty!
</div>

<div class="row mt-p5">
    <div class="col-12 text-center">
        <button (click)="clearCart()"
                [disabled]="cartProducts.length === 0"
                class="removeProduct clearCart">
            Clear Cart
        </button>&nbsp; &nbsp;

        <button class="continueShopping"
                routerLink="/"
                routerLinkActive="active">
            Continue Shopping
        </button>&nbsp; &nbsp;

        <button [disabled]="cartProducts.length === 0" class="checkout">
            Checkout
        </button>
    </div>
</div>
