USE [master]
GO
/****** Object:  Database [DEV_MASTER]    Script Date: 29-12-2020 01:27:01 PM ******/
CREATE DATABASE [DEV_MASTER]
    CONTAINMENT = NONE
    ON PRIMARY
    ( NAME = N'DEV_MASTER', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DEV_MASTER.mdf' , SIZE = 8192 KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536 KB )
    LOG ON
    ( NAME = N'DEV_MASTER_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DEV_MASTER_log.ldf' , SIZE = 73728 KB , MAXSIZE = 2048 GB , FILEGROWTH = 65536 KB )
    WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
    begin
        EXEC [DEV_MASTER].[dbo].[sp_fulltext_database] @action = 'enable'
    end
GO
USE [DEV_MASTER]
GO
/****** Object:  Table [dbo].[cart]    Script Date: 29-12-2020 01:27:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cart]
(
    [id]          [int] IDENTITY (1,1) NOT NULL,
    [customer_id] [int]                NOT NULL,
    [product_id]  [int]                NOT NULL,
    [name]        [varchar](50)        NOT NULL,
    [image_path]  [varchar](max)       NOT NULL,
    [price]       [varchar](20)        NOT NULL,
    [quantity]    [int]                NOT NULL,
    CONSTRAINT [PK_cart] PRIMARY KEY CLUSTERED
        (
         [id] ASC
            ) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[contact]    Script Date: 29-12-2020 01:27:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contact]
(
    [id]      [int] IDENTITY (1,1) NOT NULL,
    [name]    [varchar](50)        NOT NULL,
    [email]   [varchar](50)        NOT NULL,
    [subject] [varchar](255)       NOT NULL,
    [message] [varchar](max)       NOT NULL,
    CONSTRAINT [PK_contact] PRIMARY KEY CLUSTERED
        (
         [id] ASC
            ) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customers]    Script Date: 29-12-2020 01:27:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customers]
(
    [id]         [int] IDENTITY (1,1) NOT NULL,
    [first_name] [varchar](50)        NOT NULL,
    [last_name]  [varchar](50)        NOT NULL,
    [email]      [varchar](50)        NOT NULL,
    [phone]      [varchar](50)        NOT NULL,
    [password]   [varchar](70)        NOT NULL,
    CONSTRAINT [PK_customers] PRIMARY KEY CLUSTERED
        (
         [id] ASC
            ) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 29-12-2020 01:27:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders]
(
    [id]            [int] IDENTITY (1,1) NOT NULL,
    [order_number]  [varchar](70)        NOT NULL,
    [customer_id]   [int]                NOT NULL,
    [product_id]    [int]                NOT NULL,
    [purchase_date] [varchar](12)        NOT NULL,
    [purchase_time] [varchar](8)         NOT NULL,
    CONSTRAINT [PK_orders] PRIMARY KEY CLUSTERED
        (
         [id] ASC
            ) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 29-12-2020 01:27:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products]
(
    [id]          [int] IDENTITY (1,1) NOT NULL,
    [name]        [varchar](50)        NOT NULL,
    [description] [varchar](max)       NOT NULL,
    [image_path]  [varchar](max)       NOT NULL,
    [price]       [varchar](20)        NOT NULL,
    [category]    [varchar](50)        NOT NULL,
    CONSTRAINT [PK_products] PRIMARY KEY CLUSTERED
        (
         [id] ASC
            ) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[wishlist]    Script Date: 29-12-2020 01:27:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[wishlist]
(
    [id]          [int] IDENTITY (1,1) NOT NULL,
    [customer_id] [int]                NOT NULL,
    [product_id]  [int]                NOT NULL,
    [name]        [varchar](50)        NOT NULL,
    [image_path]  [varchar](max)       NOT NULL,
    [price]       [varchar](20)        NOT NULL,
    CONSTRAINT [PK_wishlist] PRIMARY KEY CLUSTERED
        (
         [id] ASC
            ) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[customers] ON
GO
INSERT [dbo].[customers] ([id], [first_name], [last_name], [email], [phone], [password])
VALUES (1, N'Vaibhav', N'Chauhan', N'vc@vc.com', N'1234567890',
        N'$2y$10$rY.mkXGI5v5lFl0VSSpdie6Rs7gNw1z9cuPymLlcbEexSWrkN5iM6')
GO
SET IDENTITY_INSERT [dbo].[customers] OFF
GO
SET IDENTITY_INSERT [dbo].[products] ON
GO
INSERT [dbo].[products] ([id], [name], [description], [image_path], [price], [category])
VALUES (1, N'Jet Black T-Shirt', N'Men''s Jet Black Sports T-Shirt',
        N'../assets/Images/Products/T-Shirts/Jet Black.png', N'499', N'T-Shirt')
GO
INSERT [dbo].[products] ([id], [name], [description], [image_path], [price], [category])
VALUES (2, N'Nike Yellow Claw', N'Nike''s Original Yellow Claw',
        N'../assets/Images/Products/Shoes/Nike Yellow Claw.png', N'4,999', N'Shoes')
GO
INSERT [dbo].[products] ([id], [name], [description], [image_path], [price], [category])
VALUES (3, N'Marble White', N'Apple Watch - Marble White',
        N'../assets/Images/Products/Wrist Watch/Apple Watch - Marble White.png', N'40,599', N'Wrist Watch')
GO
SET IDENTITY_INSERT [dbo].[products] OFF
GO
ALTER TABLE [dbo].[orders]
    WITH CHECK ADD CONSTRAINT [FK_orders_customers] FOREIGN KEY ([customer_id])
        REFERENCES [dbo].[customers] ([id])
GO
ALTER TABLE [dbo].[orders]
    CHECK CONSTRAINT [FK_orders_customers]
GO
ALTER TABLE [dbo].[orders]
    WITH CHECK ADD CONSTRAINT [FK_orders_products] FOREIGN KEY ([product_id])
        REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[orders]
    CHECK CONSTRAINT [FK_orders_products]
GO
/****** Object:  StoredProcedure [dbo].[spCustomerSignUp]    Script Date: 29-12-2020 01:27:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[spCustomerSignUp] @FirstName VARCHAR(50),
                                          @LastName VARCHAR(50),
                                          @Email VARCHAR(50),
                                          @Phone VARCHAR(50),
                                          @Password VARCHAR(70)
AS

    SET NOCOUNT ON
    SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

BEGIN
    IF NOT EXISTS(SELECT 1 FROM customers WHERE email = @Email OR phone = @Phone)
        BEGIN
            INSERT INTO customers
            VALUES (@FirstName, @LastName, @Email, @Phone, @Password)
        END
END
GO
/****** Object:  StoredProcedure [dbo].[spForgotPassword]    Script Date: 29-12-2020 01:27:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[spForgotPassword] @Email VARCHAR(50),
                                          @Phone VARCHAR(50),
                                          @NewPassword VARCHAR(70) = NULL
AS

    SET NOCOUNT ON
    SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

BEGIN
    IF EXISTS(SELECT 1 FROM customers WHERE email = @Email OR phone = @Phone)
        BEGIN
            IF (@NewPassword IS NOT NULL)
                BEGIN
                    UPDATE customers
                    SET password = @NewPassword
                    WHERE email = @Email
                      AND phone = @Phone
                END
        END
END
GO
/****** Object:  StoredProcedure [dbo].[spInsertAndGetOrdersForCustomer]    Script Date: 29-12-2020 01:27:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spInsertAndGetOrdersForCustomer] @CustomerID INT,
                                                         @ProductID INT = NULL
AS

    SET NOCOUNT ON
    SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

BEGIN
    IF (@ProductID > 0)
        BEGIN
            INSERT INTO orders (order_number, customer_id, product_id, purchase_date, purchase_time)
            VALUES ('WB' + CAST(@CustomerID AS VARCHAR(20)) + CAST(@ProductID AS VARCHAR(20)) + 'STR'
                        + CONVERT(VARCHAR(10), GETDATE(), 112)
                        + SUBSTRING(REPLACE(CONVERT(VARCHAR(25), GETDATE(), 113), ':', ''), 13, 10),
                    @CustomerID,
                    @ProductID,
                    CONVERT(VARCHAR(12), GETDATE(), 107),
                    FORMAT(CONVERT(DATETIME, GETDATE()), 'hh:mm tt'))
        END

    CREATE TABLE #tmp_orders_customers
    (
        OrderID          INT          NOT NULL,
        OrderNumber      VARCHAR(70)  NOT NULL,
        CustomerID       INT          NOT NULL,
        CustomerName     VARCHAR(50)  NOT NULL,
        CustomerEmail    VARCHAR(50)  NOT NULL,
        CustomerPhone    VARCHAR(50)  NOT NULL,
        ProductID        INT          NOT NULL,
        ProductName      VARCHAR(50)  NOT NULL,
        ProductPrice     VARCHAR(20)  NOT NULL,
        PurchaseDate     VARCHAR(12)  NOT NULL,
        PurchaseTime     VARCHAR(8)   NOT NULL,
        ProductImagePath VARCHAR(MAX) NOT NULL
    )

    INSERT INTO #tmp_orders_customers
    SELECT o.id,
           o.order_number,
           c.id,
           c.first_name + ' ' + c.last_name,
           c.email,
           c.phone,
           p.id,
           p.name,
           p.price,
           o.purchase_date,
           o.purchase_time,
           p.image_path
    FROM orders o
             JOIN customers c ON c.id = o.customer_id
             JOIN products p ON p.id = o.product_id

    IF (@ProductID > 0)
        BEGIN
            SELECT *
            FROM #tmp_orders_customers toc
            WHERE toc.CustomerID = @CustomerID
              AND toc.ProductID = @ProductID
        END
    ELSE
        BEGIN
            SELECT *
            FROM #tmp_orders_customers toc
            WHERE toc.CustomerID = @CustomerID
            ORDER BY toc.OrderID DESC
        END

    DROP TABLE #tmp_orders_customers
END
GO
/****** Object:  StoredProcedure [dbo].[spManageCartWishlist]    Script Date: 29-12-2020 01:27:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[spManageCartWishlist] @CustomerID INT,
                                              @ProductID INT = 0,
                                              @ProductType VARCHAR(10),
                                              @RemoveProduct BIT = 0,
                                              @Quantity INT = 1
AS

    SET NOCOUNT ON
    SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

BEGIN
    IF (@ProductType = 'Cart')
        BEGIN
            IF (@ProductID > 0)
                BEGIN
                    IF (@RemoveProduct = 0)
                        BEGIN
                            IF NOT EXISTS(
                                    SELECT 1 FROM cart WHERE product_id = @ProductID AND customer_id = @CustomerID)
                                BEGIN
                                    INSERT INTO cart
                                    SELECT c.id, p.id, p.name, p.image_path, p.price, @Quantity
                                    FROM products p
                                             JOIN customers c ON c.id = @CustomerID
                                    WHERE p.id = @ProductID
                                END
                        END
                    ELSE
                        BEGIN
                            IF EXISTS(SELECT 1 FROM cart WHERE product_id = @ProductID AND customer_id = @CustomerID)
                                BEGIN
                                    DELETE
                                    FROM cart
                                    WHERE product_id = @ProductID
                                END
                        END
                END
            ELSE
                BEGIN
                    SELECT ct.id        AS CartID,
                           c.id         AS CustomerID,
                           p.id         AS ProductID,
                           p.name       AS ProductName,
                           p.image_path AS ProductImagePath,
                           p.price      AS ProductPrice,
                           ct.quantity  AS ProductQuantity
                    FROM cart ct
                             JOIN customers c ON c.id = ct.customer_id
                             JOIN products p ON p.id = ct.product_id
                    WHERE ct.customer_id = @CustomerID
                    ORDER BY ct.id DESC
                END
        END


    IF (@ProductType = 'Wishlist')
        BEGIN
            IF (@ProductID > 0)
                BEGIN
                    IF (@RemoveProduct = 0)
                        BEGIN
                            IF NOT EXISTS(
                                    SELECT 1 FROM wishlist WHERE product_id = @ProductID AND customer_id = @CustomerID)
                                BEGIN
                                    INSERT INTO wishlist
                                    SELECT c.id, p.id, p.name, p.image_path, p.price
                                    FROM products p
                                             JOIN customers c ON c.id = @CustomerID
                                    WHERE p.id = @ProductID
                                END
                        END
                    ELSE
                        BEGIN
                            IF EXISTS(
                                    SELECT 1 FROM wishlist WHERE product_id = @ProductID AND customer_id = @CustomerID)
                                BEGIN
                                    DELETE
                                    FROM wishlist
                                    WHERE product_id = @ProductID
                                END
                        END
                END
            ELSE
                BEGIN
                    SELECT w.id         AS WishlistID,
                           c.id         AS CustomerID,
                           p.id         AS ProductID,
                           p.name       AS ProductName,
                           p.image_path AS ProductImagePath,
                           p.price      AS ProductPrice
                    FROM wishlist w
                             JOIN customers c ON c.id = w.customer_id
                             JOIN products p ON p.id = w.product_id
                    WHERE w.customer_id = @CustomerID
                    ORDER BY w.id DESC
                END
        END
END
GO
USE [master]
GO
