<div class="container-fluid px-0">
    <div class="row no-gutters">
        <div [hidden]="!isSidebarOpen" class="col-sm-12 col-md-3 px-0">
            <nav class="sidebar overflow-auto" id="sidebar">

                <div [ngClass]="{'text-center': !isCustomerAuthenticated}" class="sidebar-header">
                    <ng-container *ngIf="!isCustomerAuthenticated; else UserAuthenticated">
                        <span class="avatarName">webStore</span>
                    </ng-container>

                    <ng-template #UserAuthenticated>
                        <img alt="Avatar" class="avatar d-inline-flex" src="assets/Images/Person.png">&nbsp; &nbsp;
                        <span class="avatarName">
                            <ng-container *ngIf="customerFullName.length > 17; else firstName">
                                {{customer.firstName}}
                            </ng-container>
                            <ng-template #firstName>
                                {{customerFullName}}
                            </ng-template>
                        </span>
                    </ng-template>
                </div>
                <p class="text-center wsHello mt-3">webStore says Hello :)</p>

                <ul class="components pb-0 pt-0">
                    <li>
                        <a [routerLinkActiveOptions]="{exact: true}"
                           routerLink="/" routerLinkActive="active">
                            Home
                        </a>
                    </li>
                    <li>
                        <a aria-expanded="false" class="dropdown-toggle"
                           data-toggle="collapse" href="#categoriesSubMenu">
                            Categories
                        </a>
                        <ul class="collapse" id="categoriesSubMenu">
                            <a href="javascript:">T-Shirt</a>
                            <a href="javascript:">Shoes</a>
                            <a href="javascript:">Wrist Watch</a>
                        </ul>
                    </li>

                    <ng-container *ngIf="isCustomerAuthenticated">
                        <li>
                            <a class="dropdown-toggle" data-toggle="collapse" href="#accountSubMenu">
                                Account
                            </a>
                            <ul class="collapse" id="accountSubMenu">
                                <a routerLink="/{{routes.account}}/{{routes.profile}}"
                                   routerLinkActive="active">
                                    Profile
                                </a>
                                <a (click)="getOrdersForCustomer()"
                                   routerLink="/{{routes.account}}/{{routes.orders}}" routerLinkActive="active">
                                    Orders
                                </a>
                                <a (click)="getWishlistProducts()"
                                   routerLink="/{{routes.account}}/{{routes.wishlist}}" routerLinkActive="active">
                                    Wishlist
                                </a>
                                <a (click)="getCartProducts()"
                                   routerLink="/{{routes.account}}/{{routes.cart}}" routerLinkActive="active">
                                    Cart
                                </a>
                            </ul>
                        </li>
                    </ng-container>

                    <li><a routerLink="/{{routes.contact}}" routerLinkActive="active">Contact</a></li>
                </ul>

                <ul class="custom-buttons d-flex flex-column">
                    <ng-container *ngIf="!isCustomerAuthenticated; else Authenticated">
                        <li>
                            <a class="authentication"
                               routerLink="/{{routes.login}}" routerLinkActive="active">
                                Login
                            </a>
                        </li>
                    </ng-container>
                    <ng-template #Authenticated>
                        <li>
                            <a (click)="logout()" class="authentication"
                               routerLink="/" routerLinkActive="active">
                                Logout
                            </a>
                        </li>
                    </ng-template>
                    <li (click)="hideSidebar()" class="mt-2" id="hide-sidebar">
                        <a class="hide-sidebar">
                            Hide Sidebar
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <div [ngClass]="isSidebarOpen ? 'col-md-9' : 'col-12'" class="px-0">
            <ng-content></ng-content>
        </div>
    </div>
    <app-footer></app-footer>
</div>
