@import 'src/assets/scss/variables';

#accountSubMenu, #categoriesSubMenu {
    padding: 0;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.avatarName {
    vertical-align: middle;
    font-size: 25px;
}

p {
    font-size: 1.1em;
    line-height: 2em;
}

a {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;

    &:hover {
        color: inherit;
        text-decoration: none;
        transition: all 0.3s;
    }

    &:focus {
        color: inherit;
        text-decoration: none;
        transition: all 0.3s;
    }
}

.sidebar {
    height: calc(100vh + 5px);
    background: $webStorePrimaryColor;
    color: $white;
    transition: all 0.3s;

    .sidebar-header {
        padding: 20px;
        background: $webStoreSecondaryColor;
    }

    ul.components {
        padding: 20px 0;
    }

    ul {

        p {
            color: $white;
            padding: 10px;
        }

        li {
            list-style: none;

            a {
                padding: 10px;
                font-size: 1.1em;
                display: block;

                &:hover {
                    color: $webStorePrimaryColor;
                    background: $white;
                }
            }
        }
    }
}

.dropdown-toggle {
    &::after {
        display: block;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }
}

ul {
    ul {
        a {
            font-size: 1em !important;
            padding-left: 30px !important;
            background: $webStoreSecondaryColor;
        }
    }
}

ul.custom-buttons {
    padding: 20px;
    list-style-type: none;

    a {
        display: block;
        font-size: 1.1em !important;
        text-align: center;
        border-radius: 20px;
    }
}

// Keeps link focused after clicking
.active {
    color: $webStorePrimaryColor !important;
    background-color: $white !important;
}

a[aria-expanded="true"] {
    color: $white;
    background: $webStoreSecondaryColor;
}

a[data-toggle="collapse"] {
    position: relative;
}

a.authentication {
    background: $white;
    color: $webStorePrimaryColor;
    cursor: pointer;
}

a.hide-sidebar {
    background: $webStoreSecondaryColor;
    color: $white;
    cursor: pointer;
}

#hide-sidebar {
    display: none;
}

@media only screen and (max-width: 767px) {
    #hide-sidebar {
        display: block;
    }
}
