<div class="container-fluid px-0">
    <div class="row no-gutters">
        <div [hidden]="!isSidebarOpen" class="col-3 px-0">
            <nav class="sidebar overflow-auto" id="sidebar">
                <div class="sidebar-header">
                    <img alt="Avatar"
                         class="avatar d-inline-flex" src="assets/Images/Person.png">&nbsp; &nbsp;
                    <ng-container *ngIf="!isCustomerAuthenticated; else UserLoggedIn">
                        <span class="avatarName">Hello User</span>
                    </ng-container>
                    <ng-template #UserLoggedIn>
                        <span class="avatarName">{{customer.name}}</span>
                    </ng-template>
                </div>

                <ul class="components pb-0">
                    <p>webStore says Hello :)</p>

                    <li>
                        <a [routerLinkActiveOptions]="{exact: true}"
                           routerLink="/" routerLinkActive="active">Home
                        </a>
                    </li>

                    <li>
                        <a aria-expanded="false" class="dropdown-toggle"
                           data-toggle="collapse" href="#categoriesSubMenu">
                            Categories
                        </a>
                        <ul class="collapse" id="categoriesSubMenu">
                            <a href="javascript:">T-Shirt</a>
                            <a href="javascript:">Shoes</a>
                            <a href="javascript:">Wrist Watch</a>
                        </ul>
                    </li>

                    <ng-container *ngIf="isCustomerAuthenticated">
                        <li>
                            <a class="dropdown-toggle" data-toggle="collapse" href="#accountSubMenu">
                                Account
                            </a>
                            <ul class="collapse" id="accountSubMenu">
                                <a routerLink="/{{routes.account}}/{{routes.profile}}"
                                   routerLinkActive="active">
                                    Profile
                                </a>
                                <a routerLink="/{{routes.account}}/{{routes.orders}}"
                                   routerLinkActive="active">
                                    Orders
                                </a>
                                <a routerLink="/{{routes.account}}/{{routes.wishlist}}"
                                   routerLinkActive="active">
                                    Wishlist
                                </a>
                                <a routerLink="/{{routes.account}}/{{routes.cart}}"
                                   routerLinkActive="active">
                                    Cart
                                </a>
                            </ul>
                        </li>
                    </ng-container>

                    <li><a routerLink="/{{routes.contact}}" routerLinkActive="active">Contact</a></li>
                </ul>

                <ul class="custom-buttons d-flex flex-column">
                    <ng-container *ngIf="!isCustomerAuthenticated; else Authenticated">
                        <li>
                            <a class="authentication"
                               routerLink="/{{routes.login}}" routerLinkActive="active">
                                Login
                            </a>
                        </li>
                    </ng-container>
                    <ng-template #Authenticated>
                        <li>
                            <a (click)="logout()" class="authentication"
                               routerLink="/{{routes.login}}" routerLinkActive="active">
                                Logout
                            </a>
                        </li>
                    </ng-template>
                </ul>
            </nav>
        </div>

        <div [ngClass]="isSidebarOpen ? 'col-9' : 'col-12'" class="px-0">
            <ng-content></ng-content>
        </div>
    </div>
    <app-footer></app-footer>
</div>
