<div class="wrap-login100">
    <span class="login100-form-title">
        Log In
    </span>

    <div class="overflow-auto" style="max-height: 330px;">
        <form #loginFormData="ngForm" (ngSubmit)="onLogin(loginFormData)"
              class="login100-form validate-form p-l-55 p-r-55 p-t-20"
              method="get">
            <div class="wrap-input100 validate-input m-b-16">
                <input class="input100" name="customerName" placeholder="Username" type="text">
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 validate-input">
                <input class="input100" name="pass" placeholder="Password" type="password">
                <span class="focus-input100"></span>
            </div>

            <div class="text-center p-t-13 p-b-23">
                <a class="text" href="#">
                    Forgot Username / Password?
                </a>
            </div>

            <div class="container-login100-form-btn">
                <div class="row">
                    <div class="col-6">
                        <button class="backToHome" routerLink="/">
                            Back to Home
                        </button>
                    </div>
                    <div class="col-6">
                        <button (click)="_commonControllerService.toggleSidebar()"
                                [disabled]="!loginFormData.valid"
                                class="login100-form-btn" type="submit"
                                value="submit">
                            Login
                        </button>
                    </div>
                </div>
            </div>

            <div class="flex-col-c p-t-20">
            <span>Don’t have an account?
                <a class="text" routerLink="/sign-up">
                    Sign Up
                </a>
            </span>
            </div>

        </form>
    </div>
</div>
