.productDescription {
    height: 320px;
}

.productDescription p {
    font-size: 20px;
    overflow: scroll;
}

.productImage {
    display: block;
    max-width: 500px;
    max-height: 500px;
    width: auto;
    height: auto;
}

// Cart
.btn-green-active {
    border: 2px solid #0fa336;
    background-color: #0fa336;
    color: white;
}

// Wishlist
.btn-red-active {
    border: 2px solid #f52020;
    background-color: #f52020;
    color: white;
}

.displayCenter {
    display: flex;
    justify-content: left;
}

@media only screen and (max-width: 768px) {
    .cartButton, .cart, .wishlistButton, .wishlist, .backToExplore {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 10px;
    }

    .displayCenter {
        display: flex;
        justify-content: center;
    }

    .productDescription {
        min-height: 20px;
        max-height: 320px;
        overflow: scroll;
    }

    .productName, .productDescription, .productPrice, .productImage {
        justify-content: center;
        text-align: center;
        height: auto;
    }

    .productImage {
        justify-content: center;
        width: inherit;
        height: auto;
        margin: 0 auto 20px;
    }
}
