.vh-n51 {
    height: calc(100vh - 51px) !important;
}

.mt-p5 {
    margin-top: 56px !important;
}

.bg-red {
    background-color: red;
}

.custom-toast {
    top: auto;
    bottom: 50px;
    border-radius: 20px;
}

.image-size {
    max-height: 150px !important;
    max-width: 150px !important;
    height: auto;
    width: auto;
}

.cursor-pointer {
    cursor: pointer;
    outline: none;
}
