@import 'src/assets/scss/variables';

.vh-n51 {
    height: calc(100vh - 51px) !important;
}

.mt-p5 {
    margin-top: 56px !important;
}

.bg-red {
    background-color: red;
}

.center-align-hv {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.emptyText {
    font-size: 40px;
}

.br-20 {
    border-radius: 20px !important;
}

.btn-web {
    background-color: $webStorePrimaryColor;
    border-color: $webStorePrimaryColor;
    color: $white;
}

.btn-web:hover {
    background-color: $webStoreSecondaryColor;
    border-color: $webStoreSecondaryColor;
    color: $white;
}

.custom-toast {
    font-size: 17px;
    bottom: auto;
    top: 2px;
    z-index: inherit;
    border-radius: 20px;
    min-width: 300px;
    max-width: max-content;
}

.image-size {
    max-height: 150px !important;
    max-width: 150px !important;
    height: auto;
    width: auto;
}

.cursor-pointer {
    cursor: pointer;
    outline: none;
}
