.profilePic {
    border-radius: 50%;
    height: 250px;
    width: 250px;
    margin-bottom: 50px;
}

.primaryHeading {
    font-weight: 600;
    font-size: 25px;
    color: black;
    text-align: center;
}

.secondaryHeading {
    font-weight: 500;
    font-size: 18px;
    color: grey;
    text-align: center;
}

// For Form Input
.secondaryHeading input {
    color: grey;
}

input {
    text-align: center;
    outline: 0;
    border: 0;
    color: black;
    border-bottom: 2px solid #2B2E33;
    width: 94%;
    resize: none;
    margin-left: 3%;
    font-size: 1.07em;
}

input:focus::placeholder {
    color: transparent;
}

@media only screen and (max-width: 992px) {
    .secondaryHeading {
        margin-bottom: 20px;
    }
}
