<div *ngIf="showProfile">
    <div class="row" style="text-align: center;">
        <img alt="ProfilePicture" class="profilePic" src="../../../../assets/Images/Person.png">
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <div class="primaryHeading">
                        <p>Name</p>
                        <div class="secondaryHeading">
                            Vaibhav Chauhan
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="primaryHeading">
                        <p>Email</p>
                        <div class="secondaryHeading">
                            vc@vc.com
                        </div>
                    </div>
                </div>
            </div>

            <br><br>

            <div class="row">
                <div class="col-md-6">
                    <div class="primaryHeading">
                        <p>Phone</p>
                        <div class="secondaryHeading">
                            1234567890
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="primaryHeading">
                        <p>Gender</p>
                        <div class="secondaryHeading">
                            Male
                        </div>
                    </div>
                </div>
            </div>

            <br><br>
            <hr>

            <div class="row" style="text-align: center;">
                <div class="col-md-6">
                    <button class="myOrders" routerLink="/account/orders"
                            routerLinkActive="active">
                        My Orders
                    </button>
                </div>
                <div class="col-md-6">
                    <button class="myWishlist" routerLink="/account/wishlist"
                            routerLinkActive="active">
                        My Wishlist
                    </button>
                </div>
            </div>
            <hr>
            <div style="text-align: center;">
                <button class="editProfile" type="button">
                    Edit Profile
                </button>
                <hr>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
