<ng-container *ngIf="customer">
    <form #customerProfile="ngForm" (ngSubmit)="saveEditedProfile(customerProfile)" method="post">
        <div class="row text-center">
            <div class="col-12">
                <img alt="ProfilePicture" class="profilePic" src="../../../../assets/Images/Person.png">
            </div>
        </div>

        <div class="row">
            <div class="col-md-1 col-lg-2"></div>

            <div class="col-md-10 col-lg-8">
                <input name="id" ngModel="{{customer.id}}" type="hidden" value="{{customer.id}}"/>
                <div class="row">
                    <div class="col-md-6">
                        <div class="primaryHeading">
                            <p>First Name</p>
                            <input [disabled]="!allowEditProfile" class="secondaryHeading text-center" name="firstName"
                                   ngModel="{{customer.firstName}}" type="text" value="{{customer.firstName}}"/>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="primaryHeading">
                            <p>Last Name</p>
                            <input [disabled]="!allowEditProfile" class="secondaryHeading text-center" name="lastName"
                                   ngModel="{{customer.lastName}}" type="text" value="{{customer.lastName}}"/>
                        </div>
                    </div>
                </div>

                <br/><br/>

                <div class="row">
                    <div class="col-md-6">
                        <div class="primaryHeading">
                            <p>Email</p>
                            <input [disabled]="!allowEditProfile" [readOnly]="allowEditProfile"
                                   class="secondaryHeading text-center" name="email"
                                   ngModel="{{customer.email}}" type="text" value="{{customer.email}}"/>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="primaryHeading">
                            <p>Phone</p>
                            <input [disabled]="!allowEditProfile" [readOnly]="allowEditProfile"
                                   class="secondaryHeading text-center" name="phone"
                                   ngModel="{{customer.phone}}" type="text" value="{{customer.phone}}"/>
                        </div>
                    </div>
                </div>

                <br/>
                <br/>
                <hr/>

                <div class="row text-center">
                    <div class="col-md-4">
                        <button class="btn btn-orange br-20" routerLink="/{{routes.account}}/{{routes.orders}}"
                                routerLinkActive="active"
                                type="button">
                            My Orders
                        </button>
                    </div>

                    <div class="col-md-4">
                        <button class="btn btn-red br-20" routerLink="/{{routes.account}}/{{routes.wishlist}}"
                                routerLinkActive="active"
                                type="button">
                            My Wishlist
                        </button>
                    </div>

                    <div class="col-md-4">
                        <button class="btn btn-green br-20" routerLink="/{{routes.account}}/{{routes.cart}}"
                                routerLinkActive="active"
                                type="button">
                            My Cart
                        </button>
                    </div>
                </div>
                <hr/>
                <ng-container *ngIf="!allowEditProfile; else saveProfile">
                    <div class="text-center">
                        <button (click)="toggleEditProfile()" class="btn btn-gray br-20" type="button">
                            Edit Profile
                        </button>
                        <hr/>
                    </div>
                </ng-container>
                <ng-template #saveProfile>
                    <div class="text-center">
                        <button class="btn btn-gray br-20" type="submit" value="submit">
                            Save
                        </button>
                        <hr/>
                    </div>
                </ng-template>
            </div>

            <div class="col-md-1 col-lg-2"></div>
        </div>
    </form>
</ng-container>
